html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  color: #efefee;
  background-color: #232222;
}

.fills-full-height {
  height: 100%;
}

.header-avatar img:hover {
  cursor: pointer;
}

.ant-layout-header {
  background-color: #232222;
}

.ant-layout-content {
  padding-inline: 50px;
}

.header.ant-menu-horizontal {
  border-bottom: 0;
  background-color: #232222;
}

#root .ant-layout {
  background-color: #232222;
}

.little-space {
  height: 0.48rem;
  line-height: 0.48rem;
  width: 0;
}