html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  color: #efefee;
  background-color: #232222;
}

.a-hundred-percent-height {
  height: 100%;
}

#root .header-avatar img:hover {
  cursor: pointer;
}

#root .ant-layout-header {
  background-color: #232222;
}

#root .ant-layout-content {
  padding: 0 50px;
  padding-inline: 50px;
}

#root .header.ant-menu-horizontal {
  border-bottom: 0;
  background-color: #232222;
}

#root .ant-layout {
  background-color: #232222;
}

#root .little-top-space {
  margin-top: 0.48rem;
}